<nav class="white z-depth-0">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo black-text" data-testid="brand">
      <i class="material-icons">pets</i> LittlePal
    </a>
    <ul class="right">
      <li>
        <a class="dropdown-trigger" href="#" data-target="user-menu" id="user-avatar" data-testid="user-avatar">
          <img class="circle avatar" id="avatar-img" alt="user" />
          <span id="avatar-text" class="black-text"></span>
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<ul id="user-menu" class="dropdown-content">
  <li><a id="menu-profile" href="#" class="black-text">Profile</a></li>
  <li class="divider" tabindex="-1"></li>
  <li><a id="menu-logout" href="#" class="red-text" data-testid="logout-btn">Logout</a></li>
  </ul>


